//Font face definitions

@font-face{font-family: 'daydream'; src: url('/assets/fonts/Daydream.woff2');}
@font-face{font-family: 'jetbrainsmono'; src: url('/assets/fonts/JetBrains_Mono.woff2');}

//Generic styles

body{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        90deg,
        #3b002e, #004c3f, #000c46, #3b002e
    );
    background-size: 400%;

    animation: background_slide 60s infinite linear;
    overflow-x: hidden;
}

.maincontent{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;

    .title{
        font-family: 'daydream';
        color:white;
        text-align: center;
        font-size: min(max(3.5vh, 3.5vw), max(5vh));
        letter-spacing: 0.5vw;
        span{
            display: inline-block;
            transform: translateY(-50vh);
            @for $i from 1 through 8{
                &:nth-of-type(#{$i}){
                    animation: slideInTop 1s ease-in-out forwards #{$i*0.125s},bounce 0.9s ease-in-out infinite #{$i*0.1s + 2.5s}, colors 10s linear infinite #{$i*0.1s + 2s};
                }
            }
        }
    }

    #mainImg{
        width: 25vw;
        position: absolute;
        left:-25vw;
        animation:mainImgSlideIn 2s ease-in-out forwards, boxShadowChange 0.5s forwards ease-in-out 2s;
        box-shadow: 0px 0px 0px #000000;
        top:27vh;
        border-radius: 0%;
        border: none;
        transition: all 0.5s ease-in-out;
    }

    .maintext{
        font-family: 'jetbrainsmono';
        font-size: min(max(1.5vh, 1.5vw), max(2vh));
        text-align: justify;
        color:white;
        transform: translateX(100vw);
        animation: slideInRight 2s ease-in-out forwards;
        p{
            margin-left: 28vw;
            margin-right: 1vw;

            margin-top: 1vh;

            a{
                transition: color 0.5s ease-in-out;
                
                &:hover{
                    color:rgb(0, 225, 255);
                    cursor: default;
                }
            }
        }
    }

    .announcements {
        width: 50vw;
        max-width: 80vw;
        height: 35vh;
        max-height: 45vh;
        margin: 2vh auto;
        overflow-y: auto;
        overflow-x: hidden;
        margin-right: 0;
        background-color: rgba(0, 0, 0, 0.25);
        border: 1px solid white;
        box-shadow: 0px 10px 0px #FFF ;
        border-radius: 10px;
        padding: 1vh 2vw;
        color: white;
        font-family: 'jetbrainsmono';
        font-size: min(max(1.25vh, 1.25vw), max(1.75vh));
        transform: translateX(100vw);

        h1{
            font-family: 'daydream';
            text-align: center;
            font-size: min(max(2vh, 2vw), max(2.5vh));
        }
        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, 0.5);
            border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: rgba(255, 255, 255, 0.8);
        }

        &::-webkit-scrollbar-thumb:active {
            background: rgba(255, 255, 255, 0.2);
        }

        p {
            margin: 1vh 0;
            line-height: 1.5;
        }

        animation: slideInRight 2s ease-in-out forwards;
    }
}

footer{
    width: 100vw;
    height: 5vh;
    opacity: 0.5;
    position: fixed;
    font-size: min(max(1.25vh, 1.25vw), max(1.5vh));

    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    font-family: 'jetbrainsmono';
    color:white;
    background-color: #363636;

}

nav{
    width: 100vw;
    height: 8vh;
    position:fixed;
    left: 0;
    top:0;
    display: flex;
    padding: 0;
    
    ul{ 
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        gap: 4.5vw;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #0023d4, #00bf9f, #b3008c, #0023d4) ;
        background-size: 400%;
        animation:background_slide 70s linear infinite;
        li{
            font-family: 'jetbrainsmono';
            color:white;

            a{
                text-decoration: none;
                display: flex;
                gap: 15px;
                align-items: center;
                color:white;
                transition: all 0.5s ease-in-out;
                i{
                    font-size: 3vh;
                }
                span{
                    font-size: min(max(1.5vh, 1.5vw), max(2.25vh));
                }

                &:hover{
                    color: #000000;
                    font-weight: 1000;
                    transition: all 0.1s ease-in-out;
                }
                
            }
        }
    }
}

//Media queries

@media (max-width:830px){
    nav ul li a {
        span{
            display: none;
        }

        i:nth-of-type(2){
            display: none;
        }
    }

    #mainImg{
        display: none;
    }

    .maincontent{
        .maintext p{
            margin: 1vw;
        }

        .announcements{
            width: 100vw;
            margin-right: auto;
        }
    }
    
}

@media (max-width:1024px){
    nav ul li a {
        span{
            font-size: min(max(1.25vh, 1.25vw), max(1.75vh));;
        }   
    }

    .maincontent .maintext p{
        margin-top: 2vh;
    }
}

@media (min-width:2000px){
    .maincontent .maintext{
        font-size: min(max(1.75vh, 1.75vw), max(2.25vh));
    }
}

//Keyframe definitions

@keyframes background_slide{
    from{background-position-x: 0%;}
    to{background-position-x:400%;}
}

@keyframes bounce{
    0%, 100%{transform: translateY(0vh); opacity: 1;}
    50%{transform: translateY(2vh); opacity: 0.25;}
}

@keyframes slideInTop{
    0%{}
    100%{transform: translateY(0);}
}

@keyframes mainImgSlideIn{
    0%{}
    100%{left:1vw}
}

@keyframes slideInRight{
    0%{}
    100%{transform: translateX(0)}
}

@keyframes colors{
    0%, 100%{color: white;}
    25%{color: #00d443;}
    50%{color: #00bf9f;}
    75%{color: #0092b3;}
}

@keyframes boxShadowChange{
    0%{}
    100%{box-shadow: 10px 10px 50px #000000; border-radius: 20px; border: #000000 5px solid;}
}